<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../Public/ico_kupper.ico">

        <title>Kupper Anmeldung</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Public/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../../Public/css/signin.css" rel="stylesheet">
        
        <!-- Styles for Flashmassages -->
        <link href="../../Public/css/flashmsg.css" rel="stylesheet">
    </head>

    <body class="vertical-center">
        <div class="container">
            
            <f:flashMessages class="flashmessages" />
            <f:render section="Content" />
            
        </div>
    </body>
</html>