<f:layout name="DefaultUser" />

<f:section name="Title">Willkommen auf der Essenbestellseite der Firma <br/><a href="https://www.kupper-computer.com">Kupper Computer GmbH</a></f:section>

<f:section name="Content">

    <f:flashMessages />

    <br/>
    <br/>
    <p>Auf dieser Seite haben Sie die Möglichkeit, Ihr Essen für den kommenden Tag zu bestellen.</p>

    <h3>Funktionsumfang:</h3>
    
    <ul style="list-style-type:circle">
        <li>Meine Essen: Liste der Bestellten Essen für den Heutigen Tag</li>
        <li>Bestellen: Ein oder mehrere Essen für den nächsten Tag bestellen</li>
        <li>Kostenübersicht: Anzahl der Essen für den aktuellen Monat</li>
        <li>Einstellungen: Möglichkeit, Userdaten zu ändern (für Rechnungserstellung)</li>
        <li>VFD-Seite: Link zur Offiziellen VFD Essenszulieferer Seite</li>
    </ul> 
        
    <p>
        Ausloggen können Sie sich durch mit einem Klick auf die Schaltfläche am oberen rechten Bildschirmrand<br/>
        und anschließend auf 'ausloggen'.
    </p>
    
    <p>
        Viel Spaß auf der Seite!
    </p>
    
    
    <h3>
        Ein Projekt von:<br/>
    </h3>
    <p></p>
    <h3>
        Tim Diwischek<br/>
        Michael Kriegs<br/>        
    </h3>
    <br/>
</f:section>